.user-crud-card {
  margin-bottom: 10px;
}

.user-crud-card-top-container {
  padding: 16px 0px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.user-crud-card-buttom-container {
  padding: 10px 20px 0px 20px;
  flex-direction: row;
  display: flex;
  height: 30px;
}

.user-crud-card-buttom-container h6 {
  font-size: 16px;
  color: rgba(38, 50, 56, 1);
  margin-right: 10px;
  margin-top: 3px;
}
.user-crud-roles-container {
  display: flex;
  margin-left: 15px;
}
.user-crud-card-buttons-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.user-crud-button {
  width: 80px;
  height: 25px;
  font-weight: bold;
  padding: 2px 2px 5px 2px;
}

.user-crud-button-first {
  margin: 0 10px 5px 10px;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  padding: 2px 2px 2px 2px;
}

@media (min-width: 768px) {
  .user-crud-card {
    display: flex;
    justify-content: space-between;
  }
  .user-crud-card-buttons-container {
    display: block;
  }
  .user-crud-button-first {
   margin: 10px 10px;
  }
  .user-crud-roles-container {
    margin-top: 5px;
  }
  .user-crud-card-top-container {
    border-bottom: 0;
    width: 200px;
    border-bottom: 1px solid #e1e1e1;
  }
  .user-crud-card-buttons-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .user-crud-button {
    width: 80px;
    padding: 0px;
  }
  .user-crud-card-button {
    width: 140px;
  }
}
/* @media (min-width: 992px) {
  .user-crud-card-buttons-container {
    width: 220px;
  }
  .user-crud-button {
    width: 180px;
  }
} */
