.category-crud-card {
  display: flex;
  justify-content: space-between;
  
}
.category-crud-card-buttom-container {
  padding: 5px 10px 5px 10px;
}
.category-crud-card-buttom-container h6 {
  font-size: 14px;
  color: rgba(38, 50, 56, 1);
}
.category-crud-card-buttons-container {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0;
}
.category-crud-button {
  width: 50px;
  height: 18px;
  font-size: 10px;
  padding: 4px;
  margin-right: 10px;
}
.category-crud-button-first {
  width: 50px;
  height: 18px;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .div.row {
    flex:1;
  }
}

@media (min-width: 768px) {
  .category-crud-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
  }
  .category-crud-card-top-container {
    border-bottom: 0;
    width: 200px;
    border-bottom: 1px solid #e1e1e1;
  }
  .category-crud-card-buttons-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .category-crud-button-first {
    margin-right: 0px;
    margin-top: 22px;
  }
  .category-crud-button {
    width: 95px;
  }
  .category-crud-card-button {
    width: 140px;
  }
  .category-crud-card-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .category-crud-card-buttons-container {
    width: 220px;
  }
  .category-crud-button {
    width: 180px;
  }
}
