.order-filter-container {
    padding: 15px;
    margin-bottom: 20px;
    color: #961417;
  }
  
  .order-filter-name-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
  }
  .order-filter-name-container input {
    border: none;
  }
  .order-filter-name-container input:focus {
    box-shadow: none;
  }
  .order-filter-name-container input::placeholder {
    box-shadow: none;
  }
  .order-filter-search-icon {
    border: none;
    background-color: unset;
  }
  .order-filter-bottom-container {
    display: flex;
  }
  .order-filter-category-container {
    flex: 1;
    margin-right: 10px;
  }
  .btn-order-filter-clear {
    font-weight: bold;
    border-radius: 10px;
  }
  
  /* .btn-order-filter-word {
    display: none;
  } */
  .order-filter-select__control {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
  }
  .order-filter-select__placeholder {
    color: #9e9e9e !important;
  }
  
  @media (min-width: 576px) {
  /*   .btn-order-filter-word {
      display: unset;
    } */
  }
  
  @media (min-width: 768px) {
    .order-filter-container {
      margin-left: 20px;
      flex: 1;
      margin-bottom: 0;
      padding: 10px 15px;
    }
  /*   .btn-order-filter-word {
      display: none;
    } */
    .order-filter-form {
      display: flex;
    }
    .order-filter-name-container {
      flex: 1;
      margin-right: 20px;
      margin-bottom: 0;
    }
    .order-filter-bottom-container {
      flex: 1;
    }
  }
  