.role-badge-container {
   
    padding: 7px;
    border-radius: 10px;
    margin-right: 10px;
    /* color:#961417; */
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.015em;


}