.main-nav {
  padding-left: 20px;
  min-height: 120px;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-right: 0px;
  border: 0px;
}
.container-fluid {
  width: 200px;
  margin: 0px;
  padding: 0px;
}
.image-container {
  width: 80px;
 }

.navbar-toggler {
  width: 40%;
  height: auto;
}

.main-image {
  width: 100%;
  height: auto;
}

.home-image-container {
  width: 20px;
  height: 10px;
}
.nav-logo-text {
  font-size: 12px;
  color: #961417;
  padding: 30px 10px;
  padding-left: 30px;
}

.nav-logo-text:hover {
  color: #000;
}

.main-menu {
  display: flex;
  font-size: 16px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  color: #961417;
}
.main-menu a:hover {
  color: #000;
}
/* .main-menu a.active {
  color: #961417;
  font-weight: bold;
}

.nav-login-logout {
  display: none;
}

@media (min-width: 768px) {
  .nav-login-logout {
    display: unset;
    color: #961417;
    margin-right: 15px;
    justify-content: flex-end;
  }
} */