.home-container {
  padding: 20px;
  font-size: 26px;
  text-align: center;
  
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid red;
}

.home-image-container {
  padding: 0 15px;
}
.home-image-container svg {
  width: 100px;
  height: auto;
}

.home-content-container {
  border: 1px solid blue;
}

.home-content-container h1 {
  font-size: 1em;
}
