.product-crud-card {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product-crud-card-top-container img {
  width: 158px;
  height: 158px;
  margin-left: 20px;
}
.product-crud-card-top-container {
  padding: 16px 0px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.product-crud-card-buttom-container {
  padding: 15px 20px 30px 20px;
}

.product-crud-card-buttom-container h6 {
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
}
.product-crud-categories-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.product-crud-card-buttons-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.product-crud-card-button {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  border-radius: 10px;
  width: 110px;
  height: 40px;
}
.product-crud-button-first {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .product-crud-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
  }

  .product-crud-card-top-container {
    border-bottom: 0;
    width: 200px;
    border-bottom: 1px solid #e1e1e1;    
  }

  .product-crud-card-buttons-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .product-crud-button-first {
    margin-right: 0px;
    margin-top: 22px;
  }
  .product-crud-card-button {
    width: 140px;
  }
  .product-crud-card-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .product-crud-card-buttons-container {
    width: 220px;
  }
}
