/* .product-crud-card {
  margin-bottom: 30px;
  width: 247px;
  height: 316px;
} */

.product-crud-card-top-container img {
  width: 158px;
  height: 158px;
}
.product-crud-card-top-container {
  padding: 16px 0px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.product-crud-card-bottom-container {
  padding: 15px 20px 30px 20px;
}

.product-crud-card-bottom-container h6 {
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
}
.product-crud-categories-container {
  display:flex;
  padding: 20px;
  
}
