.user-crud-form-card {
    padding: 20px;
  }
  
  .user-crud-form-title {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 30px;
  }
  .margin-buttom-30 {
    margin-bottom: 30px;
  }
  .user-crud-inputs-container {
    margin-bottom: 30px;
  }
  .user-crud-inputs-left-container {
    margin-bottom: 0px;
  }
  .user-crud-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .form-crud-button {
    height: 50px;
    width: 110px;
    border-radius: 10px;
    padding: 6px 4px;
    font-weight: bold;
  }
  .user-crud-select__control {
    border-radius: 10px !important;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
  }
  .user-crud-select__placeholder {
    color: #9E9E9E !important;
  }
  .user-crud-select__indicator-separator {
    display: none;
  }
  
  @media (min-width: 576px) {
    .user-crud-buttons-container {
      justify-content: flex-end;
    }
    .form-crud-button {
      margin-left: 30px;
      width: 270px;
    }
  }
  
  @media (min-width: 992px) {
    .user-crud-buttons-container {
      justify-content: flex-end;
  
      .user-crud-inputs-left-container {
        margin-bottom: 0;
      }
    }
  }
  